/* body -----------------------------------------------------------------------------*/

html, body {
    margin: 0;
    height: 100%; /* full height page */
}

/* page -----------------------------------------------------------------------------*/

.go-rtl {
    direction: rtl;
    text-align: right;
}

/* layout -----------------------------------------------------------------------------*/

.go-layout-container {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    height: 100%; /* full height page */
}

    .go-layout-container > div {
        outline:1px solid var(--color3);
    }

.go-layout-top {
    order: 1;
    width: 100%;
    height: 32px; /* custom div height */
}

.go-layout-left {
    order: 2;
    flex: 1; /* width dimention */
    flex-basis: 200px; /* min allowd with while shrink window */
}

.go-layout-center {
    order: 3;
    flex: 10; /* width dimention */
    flex-basis: 414px; /* min allowd with while shrink window */
    height: calc(100% - 64px);
    overflow-y: auto;
}

.go-layout-right {
    order: 4;
    flex: 1; /* width dimention */
    flex-basis: 200px; /* min allowd with while shrink window */
}

.go-layout-bottom {
    order: 5;
    width: 100%;
    height: 32px; /* custom div height */
}


/* tab -----------------------------------------------------------------------------*/

.go-tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* Style the buttons inside the tab */
    .go-tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        /* Change background color of buttons on hover */
        .go-tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .go-tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.go-tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
