/* body -----------------------------------------------------------------------------*/

html, body {
    margin: 0;
    height: 100%; /* full height page */
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #676EE0;
}

.row {
    display: flex;
    flex: 1;
    background: #67E079;
}

.cell-1 {
    flex: 1;
    border: 1px solid #000;
}

.cell-5 {
    flex: 5;
    border: 1px solid #000;
}
