/* body -----------------------------------------------------------------------------*/
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}


/*container
row fill
col md-1 , sm-3 , lg-5*/


/* grid -----------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.fit {
    height: 100% !important;
}

[class*="row-"], .row {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.row {
    flex: auto;
}

.fill {
    height: 100% !important;
}

[class*="col-"], .col {
}

.col {
    flex: auto;
}

.col-custom {
    flex: none;
}

.col-1 {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}

.col-4 {
    flex: 4;
}


.left {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.right {
    justify-content: flex-end;
}

.top {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.overflow-y {
    overflow-y: auto;
}

@media only screen and (max-width: 768px) {
    .sm-1 {
        width: 10%;
    }

    .sm-2 {
        width: 20%;
    }

    .sm-3 {
        width: 30%;
    }

    .sm-4 {
        width: 40%;
    }
}

@media only screen and (max-width: 992px) {
    .small {
        flex: none;
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .medium {
        flex: none;
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .large {
        flex: none;
        width: 100%;
    }
}

/* text alignment -----------------------------------------------------------------------------*/
.txt-left {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

/* opacity (fade) -----------------------------------------------------------------------------*/
.fade-1 {
    opacity: 0.1;
}

.fade-2 {
    opacity: 0.2;
}

.fade-3 {
    opacity: 0.3;
}

.fade-4 {
    opacity: 0.4;
}

.fade-5 {
    opacity: 0.5;
}

.fade-6 {
    opacity: 0.6;
}

.fade-7 {
    opacity: 0.7;
}

.fade-8 {
    opacity: 0.8;
}

.fade-9 {
    opacity: 0.9;
}

/* rotate -----------------------------------------------------------------------------*/
.rotate-right-45 {
    transform: rotate(45deg);
}

.rotate-right-90 {
    transform: rotate(90deg);
}

.rotate-left-45 {
    transform: rotate(-45deg);
}

.rotate-left-90 {
    transform: rotate(-90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

/* color -----------------------------------------------------------------------------*/
.txt-color-muted {
    color: var(--color-muted);
}

.txt-color-primary {
    color: var(--color-primary);
}

.txt-color-success {
    color: var(--color-success);
}

.txt-color-info {
    color: var(--color-info);
}

.txt-color-warning {
    color: var(--color-warning);
}

.txt-color-danger {
    color: var(--color-danger);
}

.txt-color-secondary {
    color: var(--color-secondary);
}

.txt-color-dark {
    color: var(--color-dark);
}

.txt-color-body {
    color: var(--color-body);
}

.txt-color-light {
    color: var(--color-light);
}

.bkg-color-primary {
    background-color: var(--color-primary);
}

.bkg-color-success {
    background-color: var(--color-success);
}

.bkg-color-info {
    background-color: var(--color-info);
}

.bkg-color-warning {
    background-color: var(--color-warning);
}

.bkg-color-danger {
    background-color: var(--color-danger);
}

.bkg-color-secondary {
    background-color: var(--color-secondary);
}

.bkg-color-dark {
    background-color: var(--color-dark);
}

.bkg-color-light {
    background-color: var(--color-light);
}
