:root {
    --color1: #089DE3;
    --color2: #097054;
    --color3: #FFDE00;
    --color4: #ffc107;
    --color5: #007bff;
    --color6: #F5F5F5;
    --color7: #333333;
    --color8: #fff;
    --color9: #333;    
}
