<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../themes/base.css" rel="stylesheet" />
    <link href="layout.css" rel="stylesheet" />
</head>
<body>

    <div class="go-layout">
        <div class="go-layout-top">
            top
        </div>
        <div class="go-layout-body">
            <div class="go-layout-left">
                left
            </div>
            <div class="go-layout-content">
                content
            </div>
            <div class="go-layout-right">
                right
            </div>
        </div>
        <div class="go-layout-bottom">
            bottom
        </div>
    </div>

    <script src="layout.js"></script>
</body>
</html>